@import 'tailwindcss';

:root {
	color-scheme: light dark;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: system-ui, -apple-system, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: system-ui, -apple-system, sans-serif;
}
