@import "tailwindcss";

.header-a {
  @apply px-2 py-2 rounded-xl text-gray-300 hover:text-white hover:bg-purple-400/10 transition-colors duration-200;
}

.header-a-mobile {
  @apply rounded-xl block w-full text-left px-4 py-3 text-gray-300 hover:text-white hover:bg-white/10 transition-colors duration-200;
}

.footer-img {
  @apply rounded-sm;
}

.home-input {
  @apply w-full px-4 py-3 bg-slate-900/50 border border-slate-600 rounded-lg text-white focus:outline-none focus:border-purple-500 hover:outline-none hover:border-purple-500 transition-colors duration-200;
}

.home-div {
  @apply rounded-xl p-4 shadow-2xs bg-slate-950/80 hover:shadow-2xl hover:shadow-purple-950/50 transition-all duration-300 transform hover:scale-105;
}

.home-h4 {
  @apply font-semibold text-white;
}

.home-a {
  @apply mt-2 inline-flex items-center gap-2 text-sm text-purple-400;
}
